@import "tailwindcss";

@layer base {

    body {
        background-color: #F4F6F8;
        /* font-family: serif; */
        line-height: 1.6;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}